<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="fuelSettings">
      <h2 data-cy="fuelSettingsDetailsHeading"><span jhiTranslate="fuel2EndureApp.fuelSettings.detail.title">Fuel Settings</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fuelSettings.id }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.fuelSettings.carbohydratesGel">Carbohydrates Gel</span></dt>
        <dd>
          <span>{{ fuelSettings.carbohydratesGel }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.fuelSettings.carbohydratesSportDrank">Carbohydrates Sport Drank</span></dt>
        <dd>
          <span>{{ fuelSettings.carbohydratesSportDrank }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.fuelSettings.selectedOwnGelItem">Selected Own Gel Item</span></dt>
        <dd>
          <span>{{ fuelSettings.selectedOwnGelItem }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.fuelSettings.selectedOwnDrinkItem">Selected Own Drink Item</span></dt>
        <dd>
          <span>{{ fuelSettings.selectedOwnDrinkItem }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/fuel-settings', fuelSettings.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
