<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-race-plan-form-heading"
        data-cy="RacePlanFormCreateUpdateHeading"
        jhiTranslate="fuel2EndureApp.racePlanForm.home.createOrEditLabel"
      >
        Create or edit a Race Plan Form
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.comp" for="field_comp">Comp</label>
          <input type="text" class="form-control" name="comp" id="field_comp" data-cy="comp" formControlName="comp" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.selectedOrgGelQuery" for="field_selectedOrgGelQuery"
            >Selected Org Gel Query</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="selectedOrgGelQuery"
            id="field_selectedOrgGelQuery"
            data-cy="selectedOrgGelQuery"
            formControlName="selectedOrgGelQuery"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="fuel2EndureApp.racePlanForm.selectedOrgDrankQuery"
            for="field_selectedOrgDrankQuery"
            >Selected Org Drank Query</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="selectedOrgDrankQuery"
            id="field_selectedOrgDrankQuery"
            data-cy="selectedOrgDrankQuery"
            formControlName="selectedOrgDrankQuery"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.orsBeforeStart" for="field_orsBeforeStart"
            >Ors Before Start</label
          >
          <input
            type="number"
            class="form-control"
            name="orsBeforeStart"
            id="field_orsBeforeStart"
            data-cy="orsBeforeStart"
            formControlName="orsBeforeStart"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.drinkCarbo" for="field_drinkCarbo">Drink Carbo</label>
          <input
            type="number"
            class="form-control"
            name="drinkCarbo"
            id="field_drinkCarbo"
            data-cy="drinkCarbo"
            formControlName="drinkCarbo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelCarbo" for="field_gelCarbo">Gel Carbo</label>
          <input type="number" class="form-control" name="gelCarbo" id="field_gelCarbo" data-cy="gelCarbo" formControlName="gelCarbo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.drinkOrgCarbo" for="field_drinkOrgCarbo"
            >Drink Org Carbo</label
          >
          <input
            type="number"
            class="form-control"
            name="drinkOrgCarbo"
            id="field_drinkOrgCarbo"
            data-cy="drinkOrgCarbo"
            formControlName="drinkOrgCarbo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelOrgCarbo" for="field_gelOrgCarbo"
            >Gel Org Carbo</label
          >
          <input
            type="number"
            class="form-control"
            name="gelOrgCarbo"
            id="field_gelOrgCarbo"
            data-cy="gelOrgCarbo"
            formControlName="gelOrgCarbo"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkOrgBike" for="field_sportDrinkOrgBike"
            >Sport Drink Org Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="sportDrinkOrgBike"
            id="field_sportDrinkOrgBike"
            data-cy="sportDrinkOrgBike"
            formControlName="sportDrinkOrgBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.waterOrgBike" for="field_waterOrgBike"
            >Water Org Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="waterOrgBike"
            id="field_waterOrgBike"
            data-cy="waterOrgBike"
            formControlName="waterOrgBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelsOrgBike" for="field_gelsOrgBike"
            >Gels Org Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="gelsOrgBike"
            id="field_gelsOrgBike"
            data-cy="gelsOrgBike"
            formControlName="gelsOrgBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkOrgRun" for="field_sportDrinkOrgRun"
            >Sport Drink Org Run</label
          >
          <input
            type="number"
            class="form-control"
            name="sportDrinkOrgRun"
            id="field_sportDrinkOrgRun"
            data-cy="sportDrinkOrgRun"
            formControlName="sportDrinkOrgRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.waterOrgRun" for="field_waterOrgRun"
            >Water Org Run</label
          >
          <input
            type="number"
            class="form-control"
            name="waterOrgRun"
            id="field_waterOrgRun"
            data-cy="waterOrgRun"
            formControlName="waterOrgRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelsOrgRun" for="field_gelsOrgRun"
            >Gels Org Run</label
          >
          <input
            type="number"
            class="form-control"
            name="gelsOrgRun"
            id="field_gelsOrgRun"
            data-cy="gelsOrgRun"
            formControlName="gelsOrgRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkToTakeBike" for="field_sportDrinkToTakeBike"
            >Sport Drink To Take Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="sportDrinkToTakeBike"
            id="field_sportDrinkToTakeBike"
            data-cy="sportDrinkToTakeBike"
            formControlName="sportDrinkToTakeBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.waterToTakeBike" for="field_waterToTakeBike"
            >Water To Take Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="waterToTakeBike"
            id="field_waterToTakeBike"
            data-cy="waterToTakeBike"
            formControlName="waterToTakeBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.extraWaterToTakeBike" for="field_extraWaterToTakeBike"
            >Extra Water To Take Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="extraWaterToTakeBike"
            id="field_extraWaterToTakeBike"
            data-cy="extraWaterToTakeBike"
            formControlName="extraWaterToTakeBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.orsToTakeBike" for="field_orsToTakeBike"
            >Ors To Take Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="orsToTakeBike"
            id="field_orsToTakeBike"
            data-cy="orsToTakeBike"
            formControlName="orsToTakeBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelsToTakeBike" for="field_gelsToTakeBike"
            >Gels To Take Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="gelsToTakeBike"
            id="field_gelsToTakeBike"
            data-cy="gelsToTakeBike"
            formControlName="gelsToTakeBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkToTakeRun" for="field_sportDrinkToTakeRun"
            >Sport Drink To Take Run</label
          >
          <input
            type="number"
            class="form-control"
            name="sportDrinkToTakeRun"
            id="field_sportDrinkToTakeRun"
            data-cy="sportDrinkToTakeRun"
            formControlName="sportDrinkToTakeRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.waterToTakeRun" for="field_waterToTakeRun"
            >Water To Take Run</label
          >
          <input
            type="number"
            class="form-control"
            name="waterToTakeRun"
            id="field_waterToTakeRun"
            data-cy="waterToTakeRun"
            formControlName="waterToTakeRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.extraWaterToTakeRun" for="field_extraWaterToTakeRun"
            >Extra Water To Take Run</label
          >
          <input
            type="number"
            class="form-control"
            name="extraWaterToTakeRun"
            id="field_extraWaterToTakeRun"
            data-cy="extraWaterToTakeRun"
            formControlName="extraWaterToTakeRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.orsToTakeRun" for="field_orsToTakeRun"
            >Ors To Take Run</label
          >
          <input
            type="number"
            class="form-control"
            name="orsToTakeRun"
            id="field_orsToTakeRun"
            data-cy="orsToTakeRun"
            formControlName="orsToTakeRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.gelsToTakeRun" for="field_gelsToTakeRun"
            >Gels To Take Run</label
          >
          <input
            type="number"
            class="form-control"
            name="gelsToTakeRun"
            id="field_gelsToTakeRun"
            data-cy="gelsToTakeRun"
            formControlName="gelsToTakeRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.weightLossDuringBike" for="field_weightLossDuringBike"
            >Weight Loss During Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="weightLossDuringBike"
            id="field_weightLossDuringBike"
            data-cy="weightLossDuringBike"
            formControlName="weightLossDuringBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRun" for="field_carboNeedDuringRun"
            >Carbo Need During Run</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringRun"
            id="field_carboNeedDuringRun"
            data-cy="carboNeedDuringRun"
            formControlName="carboNeedDuringRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourBike" for="field_fluidNeedPerHourBike"
            >Fluid Need Per Hour Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="fluidNeedPerHourBike"
            id="field_fluidNeedPerHourBike"
            data-cy="fluidNeedPerHourBike"
            formControlName="fluidNeedPerHourBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourSwim" for="field_fluidNeedPerHourSwim"
            >Fluid Need Per Hour Swim</label
          >
          <input
            type="number"
            class="form-control"
            name="fluidNeedPerHourSwim"
            id="field_fluidNeedPerHourSwim"
            data-cy="fluidNeedPerHourSwim"
            formControlName="fluidNeedPerHourSwim"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBike" for="field_carboNeedDuringBike"
            >Carbo Need During Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringBike"
            id="field_carboNeedDuringBike"
            data-cy="carboNeedDuringBike"
            formControlName="carboNeedDuringBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedDuringBike" for="field_fluidNeedDuringBike"
            >Fluid Need During Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="fluidNeedDuringBike"
            id="field_fluidNeedDuringBike"
            data-cy="fluidNeedDuringBike"
            formControlName="fluidNeedDuringBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourRun" for="field_fluidNeedPerHourRun"
            >Fluid Need Per Hour Run</label
          >
          <input
            type="number"
            class="form-control"
            name="fluidNeedPerHourRun"
            id="field_fluidNeedPerHourRun"
            data-cy="fluidNeedPerHourRun"
            formControlName="fluidNeedPerHourRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedDuringRun" for="field_fluidNeedDuringRun"
            >Fluid Need During Run</label
          >
          <input
            type="number"
            class="form-control"
            name="fluidNeedDuringRun"
            id="field_fluidNeedDuringRun"
            data-cy="fluidNeedDuringRun"
            formControlName="fluidNeedDuringRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.weightLossDuringRun" for="field_weightLossDuringRun"
            >Weight Loss During Run</label
          >
          <input
            type="number"
            class="form-control"
            name="weightLossDuringRun"
            id="field_weightLossDuringRun"
            data-cy="weightLossDuringRun"
            formControlName="weightLossDuringRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.diffCarboRun" for="field_diffCarboRun"
            >Diff Carbo Run</label
          >
          <input
            type="number"
            class="form-control"
            name="diffCarboRun"
            id="field_diffCarboRun"
            data-cy="diffCarboRun"
            formControlName="diffCarboRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.diffMoisterRun" for="field_diffMoisterRun"
            >Diff Moister Run</label
          >
          <input
            type="number"
            class="form-control"
            name="diffMoisterRun"
            id="field_diffMoisterRun"
            data-cy="diffMoisterRun"
            formControlName="diffMoisterRun"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.difCarbo" for="field_difCarbo">Dif Carbo</label>
          <input type="number" class="form-control" name="difCarbo" id="field_difCarbo" data-cy="difCarbo" formControlName="difCarbo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.difMoister" for="field_difMoister">Dif Moister</label>
          <input
            type="number"
            class="form-control"
            name="difMoister"
            id="field_difMoister"
            data-cy="difMoister"
            formControlName="difMoister"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.actFluidNeedBike" for="field_actFluidNeedBike"
            >Act Fluid Need Bike</label
          >
          <input
            type="number"
            class="form-control"
            name="actFluidNeedBike"
            id="field_actFluidNeedBike"
            data-cy="actFluidNeedBike"
            formControlName="actFluidNeedBike"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.actFluidNeedRun" for="field_actFluidNeedRun"
            >Act Fluid Need Run</label
          >
          <input
            type="number"
            class="form-control"
            name="actFluidNeedRun"
            id="field_actFluidNeedRun"
            data-cy="actFluidNeedRun"
            formControlName="actFluidNeedRun"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBikeMin"
            for="field_carboNeedDuringBikeMin"
            >Carbo Need During Bike Min</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringBikeMin"
            id="field_carboNeedDuringBikeMin"
            data-cy="carboNeedDuringBikeMin"
            formControlName="carboNeedDuringBikeMin"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBikeMax"
            for="field_carboNeedDuringBikeMax"
            >Carbo Need During Bike Max</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringBikeMax"
            id="field_carboNeedDuringBikeMax"
            data-cy="carboNeedDuringBikeMax"
            formControlName="carboNeedDuringBikeMax"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRunMin"
            for="field_carboNeedDuringRunMin"
            >Carbo Need During Run Min</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringRunMin"
            id="field_carboNeedDuringRunMin"
            data-cy="carboNeedDuringRunMin"
            formControlName="carboNeedDuringRunMin"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRunMax"
            for="field_carboNeedDuringRunMax"
            >Carbo Need During Run Max</label
          >
          <input
            type="number"
            class="form-control"
            name="carboNeedDuringRunMax"
            id="field_carboNeedDuringRunMax"
            data-cy="carboNeedDuringRunMax"
            formControlName="carboNeedDuringRunMax"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.startGel" for="field_startGel">Start Gel</label>
          <input type="number" class="form-control" name="startGel" id="field_startGel" data-cy="startGel" formControlName="startGel" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.startDrank" for="field_startDrank">Start Drank</label>
          <input
            type="number"
            class="form-control"
            name="startDrank"
            id="field_startDrank"
            data-cy="startDrank"
            formControlName="startDrank"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.racePlanForm.race" for="field_race">Race</label>
          <select class="form-control" id="field_race" data-cy="race" name="race" formControlName="race">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="raceOption.id === editForm.get('race')!.value?.id ? editForm.get('race')!.value : raceOption"
              *ngFor="let raceOption of racesSharedCollection; trackBy: trackRaceById"
            >
              {{ raceOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
