<div>
  <h2 id="page-heading" data-cy="RacePlanFormHeading">
    <span jhiTranslate="fuel2EndureApp.racePlanForm.home.title">Race Plan Forms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.racePlanForm.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-race-plan-form"
        [routerLink]="['/race-plan-form/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.racePlanForm.home.createLabel"> Create a new Race Plan Form </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="racePlanForms?.length === 0">
    <span jhiTranslate="fuel2EndureApp.racePlanForm.home.notFound">No racePlanForms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="racePlanForms && racePlanForms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.comp">Comp</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.name">Name</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.selectedOrgGelQuery">Selected Org Gel Query</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.selectedOrgDrankQuery">Selected Org Drank Query</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.orsBeforeStart">Ors Before Start</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.drinkCarbo">Drink Carbo</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelCarbo">Gel Carbo</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.drinkOrgCarbo">Drink Org Carbo</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelOrgCarbo">Gel Org Carbo</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkOrgBike">Sport Drink Org Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.waterOrgBike">Water Org Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelsOrgBike">Gels Org Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkOrgRun">Sport Drink Org Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.waterOrgRun">Water Org Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelsOrgRun">Gels Org Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkToTakeBike">Sport Drink To Take Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.waterToTakeBike">Water To Take Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.extraWaterToTakeBike">Extra Water To Take Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.orsToTakeBike">Ors To Take Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelsToTakeBike">Gels To Take Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.sportDrinkToTakeRun">Sport Drink To Take Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.waterToTakeRun">Water To Take Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.extraWaterToTakeRun">Extra Water To Take Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.orsToTakeRun">Ors To Take Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.gelsToTakeRun">Gels To Take Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.weightLossDuringBike">Weight Loss During Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRun">Carbo Need During Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourBike">Fluid Need Per Hour Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourSwim">Fluid Need Per Hour Swim</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBike">Carbo Need During Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedDuringBike">Fluid Need During Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedPerHourRun">Fluid Need Per Hour Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.fluidNeedDuringRun">Fluid Need During Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.weightLossDuringRun">Weight Loss During Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.diffCarboRun">Diff Carbo Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.diffMoisterRun">Diff Moister Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.difCarbo">Dif Carbo</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.difMoister">Dif Moister</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.actFluidNeedBike">Act Fluid Need Bike</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.actFluidNeedRun">Act Fluid Need Run</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBikeMin">Carbo Need During Bike Min</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringBikeMax">Carbo Need During Bike Max</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRunMin">Carbo Need During Run Min</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.carboNeedDuringRunMax">Carbo Need During Run Max</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.startGel">Start Gel</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.startDrank">Start Drank</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.racePlanForm.race">Race</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let racePlanForm of racePlanForms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/race-plan-form', racePlanForm.id, 'view']">{{ racePlanForm.id }}</a>
          </td>
          <td>{{ racePlanForm.comp }}</td>
          <td>{{ racePlanForm.name }}</td>
          <td>{{ racePlanForm.selectedOrgGelQuery }}</td>
          <td>{{ racePlanForm.selectedOrgDrankQuery }}</td>
          <td>{{ racePlanForm.orsBeforeStart }}</td>
          <td>{{ racePlanForm.drinkCarbo }}</td>
          <td>{{ racePlanForm.gelCarbo }}</td>
          <td>{{ racePlanForm.drinkOrgCarbo }}</td>
          <td>{{ racePlanForm.gelOrgCarbo }}</td>
          <td>{{ racePlanForm.sportDrinkOrgBike }}</td>
          <td>{{ racePlanForm.waterOrgBike }}</td>
          <td>{{ racePlanForm.gelsOrgBike }}</td>
          <td>{{ racePlanForm.sportDrinkOrgRun }}</td>
          <td>{{ racePlanForm.waterOrgRun }}</td>
          <td>{{ racePlanForm.gelsOrgRun }}</td>
          <td>{{ racePlanForm.sportDrinkToTakeBike }}</td>
          <td>{{ racePlanForm.waterToTakeBike }}</td>
          <td>{{ racePlanForm.extraWaterToTakeBike }}</td>
          <td>{{ racePlanForm.orsToTakeBike }}</td>
          <td>{{ racePlanForm.gelsToTakeBike }}</td>
          <td>{{ racePlanForm.sportDrinkToTakeRun }}</td>
          <td>{{ racePlanForm.waterToTakeRun }}</td>
          <td>{{ racePlanForm.extraWaterToTakeRun }}</td>
          <td>{{ racePlanForm.orsToTakeRun }}</td>
          <td>{{ racePlanForm.gelsToTakeRun }}</td>
          <td>{{ racePlanForm.weightLossDuringBike }}</td>
          <td>{{ racePlanForm.carboNeedDuringRun }}</td>
          <td>{{ racePlanForm.fluidNeedPerHourBike }}</td>
          <td>{{ racePlanForm.fluidNeedPerHourSwim }}</td>
          <td>{{ racePlanForm.carboNeedDuringBike }}</td>
          <td>{{ racePlanForm.fluidNeedDuringBike }}</td>
          <td>{{ racePlanForm.fluidNeedPerHourRun }}</td>
          <td>{{ racePlanForm.fluidNeedDuringRun }}</td>
          <td>{{ racePlanForm.weightLossDuringRun }}</td>
          <td>{{ racePlanForm.diffCarboRun }}</td>
          <td>{{ racePlanForm.diffMoisterRun }}</td>
          <td>{{ racePlanForm.difCarbo }}</td>
          <td>{{ racePlanForm.difMoister }}</td>
          <td>{{ racePlanForm.actFluidNeedBike }}</td>
          <td>{{ racePlanForm.actFluidNeedRun }}</td>
          <td>{{ racePlanForm.carboNeedDuringBikeMin }}</td>
          <td>{{ racePlanForm.carboNeedDuringBikeMax }}</td>
          <td>{{ racePlanForm.carboNeedDuringRunMin }}</td>
          <td>{{ racePlanForm.carboNeedDuringRunMax }}</td>
          <td>{{ racePlanForm.startGel }}</td>
          <td>{{ racePlanForm.startDrank }}</td>
          <td>
            <div *ngIf="racePlanForm.race">
              <a [routerLink]="['/race', racePlanForm.race?.id, 'view']">{{ racePlanForm.race?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/race-plan-form', racePlanForm.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/race-plan-form', racePlanForm.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(racePlanForm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
