<div>
  <h2 id="page-heading" data-cy="VoucherHeading">
    <span jhiTranslate="fuel2EndureApp.voucher.home.title">Vouchers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.voucher.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-voucher"
        [routerLink]="['/voucher/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.voucher.home.createLabel"> Create a new Voucher </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vouchers?.length === 0">
    <span jhiTranslate="fuel2EndureApp.voucher.home.notFound">No vouchers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vouchers && vouchers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.code">Code</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.voucherType">Voucher Type</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.redeemed">Redeemed</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.maxDate">Max Date</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.maxRedeemed">Max Redeemed</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.voucher.category">Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voucher of vouchers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/voucher', voucher.id, 'view']">{{ voucher.id }}</a>
          </td>
          <td>{{ voucher.code }}</td>
          <td>{{ voucher.voucherType }}</td>
          <td>{{ voucher.redeemed }}</td>
          <td>{{ voucher.maxDate | formatMediumDate }}</td>
          <td>{{ voucher.amount }}</td>
          <td>{{ voucher.maxRedeemed }}</td>
          <td jhiTranslate="{{ 'fuel2EndureApp.CategoryType.' + voucher.category }}">{{ voucher.category }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/voucher', voucher.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/voucher', voucher.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(voucher)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
