<div>
  <h2 id="page-heading" data-cy="AthleteHeading">
    <span jhiTranslate="fuel2EndureApp.athlete.home.title">Athletes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.athlete.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-athlete"
        [routerLink]="['/athlete/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fuel2EndureApp.athlete.home.createLabel"> Create a new Athlete </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="athletes?.length === 0">
    <span jhiTranslate="fuel2EndureApp.athlete.home.notFound">No athletes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="athletes && athletes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.middleName">Middle Name</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.length">Length</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.weight">Weight</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.status">Status</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.fuelSettings">Fuel Settings</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.internalUser">Internal User</span></th>
          <th scope="col"><span jhiTranslate="fuel2EndureApp.athlete.voucher">Voucher</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let athlete of athletes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/athlete', athlete.id, 'view']">{{ athlete.id }}</a>
          </td>
          <td>{{ athlete.middleName }}</td>
          <td>{{ athlete.length }}</td>
          <td>{{ athlete.weight }}</td>
          <td>{{ athlete.status }}</td>
          <td>
            <div *ngIf="athlete.fuelSettings">
              <a [routerLink]="['/fuel-settings', athlete.fuelSettings?.id, 'view']">{{ athlete.fuelSettings?.id }}</a>
            </div>
          </td>
          <td>
            {{ athlete.internalUser?.id }}
          </td>
          <td>
            <div *ngIf="athlete.voucher">
              <a [routerLink]="['/voucher', athlete.voucher?.id, 'view']">{{ athlete.voucher?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/athlete', athlete.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/athlete', athlete.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(athlete)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
