<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="voucher">
      <h2 data-cy="voucherDetailsHeading"><span jhiTranslate="fuel2EndureApp.voucher.detail.title">Voucher</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ voucher.id }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.code">Code</span></dt>
        <dd>
          <span>{{ voucher.code }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.voucherType">Voucher Type</span></dt>
        <dd>
          <span>{{ voucher.voucherType }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.redeemed">Redeemed</span></dt>
        <dd>
          <span>{{ voucher.redeemed }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.maxDate">Max Date</span></dt>
        <dd>
          <span>{{ voucher.maxDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.amount">Amount</span></dt>
        <dd>
          <span>{{ voucher.amount }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.maxRedeemed">Max Redeemed</span></dt>
        <dd>
          <span>{{ voucher.maxRedeemed }}</span>
        </dd>
        <dt><span jhiTranslate="fuel2EndureApp.voucher.category">Category</span></dt>
        <dd>
          <span jhiTranslate="{{ 'fuel2EndureApp.CategoryType.' + voucher.category }}">{{ voucher.category }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/voucher', voucher.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
