<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-heading" data-cy="PaymentCreateUpdateHeading" jhiTranslate="fuel2EndureApp.payment.home.createOrEditLabel">
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.payment.paymentDate" for="field_paymentDate">Payment Date</label>
          <input
            type="text"
            class="form-control"
            name="paymentDate"
            id="field_paymentDate"
            data-cy="paymentDate"
            formControlName="paymentDate"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.payment.paymentStatus" for="field_paymentStatus"
            >Payment Status</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
            formControlName="paymentStatus"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.payment.mollieKey" for="field_mollieKey">Mollie Key</label>
          <input type="text" class="form-control" name="mollieKey" id="field_mollieKey" data-cy="mollieKey" formControlName="mollieKey" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="fuel2EndureApp.payment.athlete" for="field_athlete">Athlete</label>
          <select class="form-control" id="field_athlete" data-cy="athlete" name="athlete" formControlName="athlete">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="athleteOption.id === editForm.get('athlete')!.value?.id ? editForm.get('athlete')!.value : athleteOption"
              *ngFor="let athleteOption of athletesSharedCollection; trackBy: trackAthleteById"
            >
              {{ athleteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
